.about{
  width: 100%;
  aspect-ratio: 20/9;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  img{
    width: 40rem;
    height: auto;
    padding: 0 3rem;
  }
  .about-text, .free-time, .experience{
    width: 90%;
    height: auto;
    padding: 2rem;
   h2{
    font-size: var(--font-size-xxl);
    margin-bottom: 2.5rem;
   } 
   h5{
    font-size: var(--font-size-l);
    margin-bottom: 1rem;
   }
   p{
    font-size: var(--font-size-m);
    margin-bottom: 2.5rem;
   }
  }
  .free-time, .experience{
    grid-column: span 2;
  }
}

@media (max-width: 767px){
  .about{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    img{
     display: none;
    }
    .about-text, .experience, .free-time{
      width: 100%;
      padding: 0 3rem;
      h2{
        text-align: center;
      }
    }
  }
}