.divider{
  width: 100%;
  aspect-ratio: 16/2;
  background-position: center;
  background-size: cover;
}

.up{
  background-image: url(../img/up.svg);
}

.down{
  background-image: url(../img/down.svg);
}